@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    background-color: #59abe3;
}
.dash {
    position: absolute;
    top: 10px;
    right: 0;
}
.dash button {
    display: block;
    background-color: rgba(0, 255, 98, 0.644);
    color: white;
    border: none;
    text-transform: capitalize;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: auto;
    margin-right: 20px;
}
